$main-color : #272727;
$secondary-color: #505050;
$three-D-scene-initial-color: #999999;
$focus-primary-color: #ff0000;
$focus-secondary-color: #ffffff;
$description-text-color: #a0aec0;

$breakpoint-tablet: 1050px;
$breakpoint-phone: 510px;

$gutter: 2rem;

$code-font: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
