@import '../../styles/vars';

.row {
    background-color: $main-color;
    color: $focus-secondary-color;
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
}

.error {
    background-color: $focus-primary-color;
    color: $focus-secondary-color;
}

.question, .text, .user {
    margin: 0.5rem;
}
