@import './styles/_reset.css';
@import './styles/vars';

body {
  background-color: $secondary-color;
  color: $focus-secondary-color;
  font-family: $code-font;
  align-items: center;
  justify-content: center;
}

label {
  cursor: default;
}

.App {
  text-align: center;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

.row {
  background-color: $main-color;
  color: $focus-secondary-color;
  border-radius: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  position: relative;
}

.formField {
  margin-top: 1rem;
  margin-bottom: 1rem;
  
  &>input,
  &>select {
    margin-left: 2rem;
    width: 80%;
    background-color: #272727;
    border: 0;
    border-bottom: solid 1px #505050;
    color: white;
    font-family: inherit;
    font-size: inherit;
  }
}

.formTitle {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.formSubmit,
.formCancel {
  padding: 8px 20px;
  border: 0;
  border-radius: 7px;
  background-color: $submit-color;
  color: $focus-secondary-color;
  font-weight: 700;
  font-family: inherit;
  font-size: 1rem;
}

.formCancel {
  background-color: $cancel-color;
}
